.mainContainer {
    display: inline-flex;
}


.tabsBlockContainer {
    background: linear-gradient( 253deg, #262d33, #56788e);
    width: 13%;
    min-width: 100px;
    padding-top: 20px;
    border-right: 1px solid #7b7b7b24;
}

    .tabsBlockContainer ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .tabsBlockContainerTab {
    color: #717b7c;
    height: 36px;
    font-size: 16px;
    background: none;
    border: none;
    text-align: start;
    width: 93%;
    padding-top: 5px;
    margin-bottom: 5px;
    border-left: 3px solid #00968800;
    }

    .tabsBlockContainerTabHover {
        color: #717b7c;
        font-size: 16px;
        background: none;
        border: none;
        text-align: start;
        width: 100%;
        background-color: #34918930;
        height: 36px;
        padding-top: 5px;
        border-left: 3px solid #00968866;
        color: #fff;
        margin-bottom: 5px;
    }

.line {
    border-bottom: 1px solid #505e69;
    width: 90%;
}

.listContaier {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: linear-gradient( 150deg, #262d33, #678192);
}

.listBlockContainer {
    column-width: 100vw;
    background: linear-gradient(
150deg
 , #262d33, #678192);
}
